<section class="section">
    <div class="container">
        <div class="column is-centered">
            <div class="column is-half">

                <h1 class="encounterText"> Encounter!</h1>
                <h1 id="charName" class="encounterText"> {{this.charName}}!</h1>
                <p id="demo" class="encounterText">{{ this.encounterText }}</p>
                <p id="consequence" class="encounterText"></p>
                <ul id='btnContainer' class="hideButton">
                    {{#each this.options }}
                    <p class="button is-medium is-hovered is-rounded options optionBtn choices" id="{{this.id}}" stateChange="{{this.stateChange}}">
                        {{this.optionText}}
                        </p>
                    {{/each}}
                </ul>
                <div id ='nextButton' class='hideButton'>
                <button  class="button is-medium is-hovered is-rounded options nextBtn" id = 'nextEnc'>Next Encounter</button>
                </div>
                <div id ='endButton' class='hideButton'>
                <button  class="button is-medium is-hovered is-rounded options endBtn" id = 'gameOver' onclick = "window.location.href = '/credits'">Game Over</button>
                </div>
            </div>
        </div>
    </div>
    <!-- this is the character ID -->
    <div id="{{this.charId}}" class="charId"></div>
</section>
<script src="/assets/js/encounterAnimation.js"></script>
<script src="/assets/js/buttons.js" type="module"></script>
